.idea
.coverage
.pytest_cache/
.ipynb_checkpoints

venv/
*.pyc
**__pycache__/
instance/
openai_*/
output/
figures/
htmlcov/
dist/
build/
*.egg-info/
.DS_STORE

**/.env
**/.api_key
*.csv
*.jsonl
