

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b8e0d2;
  font-size: 16px;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
}

/* Pane Component Styles */
.pane-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #3a6f6b; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.pane-content {
  text-align: left;
  color: #333;
}

.pane-form {
  display: flex;
  flex-direction: column;
}

.pane-form input,
.pane-form button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

/* Output Component Styles */
.output-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #3a6f6b;  
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.output-content {
  text-align: left;
  color: #333;
}

.pane {
  flex: 1; /* This makes sure that Pane and Output take equal space */
  text-align: left; /* Aligns content to the left */
}

.pane-item, .output-item {
  text-align: left;
}

.components-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* This will stretch the children to fill the container */
  height: 100%; /* Adjust based on your layout */
}

.pane-container, .output-container {
  flex: 1; /* This allows them to grow equally */
  margin: 20px auto; /* Centers the components */
  padding: 20px;
  background-color: #d4d4d4;  /* For pane-container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* For pane-container */
  border-radius: 8px;
  width: 90%; /* Increased from 80% to 90% */
  max-width: 700px; /* Increased max-width for both */
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}