/* TranslationApp.css */
.translation-app-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 200px; /* Set the width of the sidebar as needed */
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .sidebar-icon {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .sidebar-icon:hover {
    background-color: #ddd;
  }
  
  textarea {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    background-color: blue;
    padding: 20px;
    height: 100%
  }
  